:focus {outline:none;}
::-moz-focus-inner {border:0;}
html,body{margin:0;padding:0;height:98%;}

body
{
	background-color:#F7F7FC;
	font-family:robotoregular;
}

table
{
	font-size:3em;
	margin-bottom:10px;
	width:98%;
    height:100%;
    margin:1%;
	padding:0;
	background-color:white;
}

td
{
    padding:1%;
    /*height:100%*/
}

tr
{
    height:18%;
}

#antwoord
{
	text-align:right;
    font-size:2em;
	border:5px solid #E3E3E3;
	padding-right:5%;
}

button
{
	width:100%;
	height:100%;
	font-size:1.5em;
	border:2px solid #E3E3E3;
	color:#696969;
	border-radius:0px;
}
