:focus {outline:none;}
::-moz-focus-inner {border:0;}
html,body{margin:0;padding:0;height:98%;}
*{font-family:robotoregular;}

body
{
	background-color:#F7F7FC;
}

table
{
    table-layout: fixed;
    word-break: break-all;
	font-size:6vh;
	margin-bottom:10px;
	width:98%;
    height:100%;
    margin:1%;
	padding:0;
	background-color:white;
}

td
{
    padding:1%;
    /*height:100%*/
}

tr
{
    height:18%;
}

#antwoord
{
    font-size:2em;
	text-align:right;
	border:5px solid #E3E3E3;
	padding-right:5%;
}

button
{
    /*min-height:1px;
    min-width:1px;*/
    font-size:10vh;
	width:100%;
	height:100%;
	border:2px solid #E3E3E3;
	color:#696969;
	border-radius:0px;
}
